.container{
  width:600px;
  height:500px;
  margin:40px auto;
  background:radial-gradient(#6F73D3,#1A1C52);
}
.question{
  width:480px;
  height:70px;
  padding-top:140px;
 
  display:inline-block;
}
.question-box{
  width:400px;
  height:60px;
  color:white;
  font-size:18px;
  text-align:center;
  display:inline-block;
  background-color: #222465 ;
  position:relative;
  padding:8px 5px;
  border-top:3px solid yellow;
  border-bottom:3px solid yellow;
  box-sizing: border-box;
  
}
.triangle-left{
  width:0;
  height:0;
  display:inline-block;
  float:left;
  border-top:30px solid transparent;
  border-right:40px solid yellow;
  border-bottom:30px solid transparent;
  position:relative;
  
  
}



.trianle-left-empty{
  width:0;
  height:0;
  position:absolute;
  left:4px;
  top:-27px;
  border-top:27px solid transparent;
  border-right:36px solid #222465   ;
  border-bottom:27px solid transparent;
}
.triangle-right{
  width:0;
  height:0;
  display:inline-block;
  border-top:30px solid transparent;
  border-left:40px solid yellow;
  border-bottom:30px solid transparent;
  position:relative;
  float:right;
  display:inline-block;
}
.trianle-right-empty{
  width:0;
  height:0;
  position:absolute;
  right:5px;
  top:-27px;
  border-top:27px solid transparent;
  border-left:36px solid #222465;
  border-bottom:27px solid transparent;
}
.answer{
  width:240px;
  height:35px;
  display:inline-block;
  
}
.answer-box{
  width:200px;
  height:30px;
  color:white;
  font-size:14px;
  font-style:
  text-align:left;
  display:inline-block;
  background-color:#2F3280;
  position:relative;
  padding:4px 5px;
  border-top:1px solid yellow;
  border-bottom:1px solid yellow;
  box-sizing: border-box;
  cursor:pointer;
  
}
.ans-triangle-left{
  width:0;
  height:0;
  display:inline-block;
  float:left;
  border-top:15px solid transparent;
  border-right:20px solid yellow;
  border-bottom:15px solid transparent;
  position:relative;
  
  
}
.ans-trianle-left-empty{
  width:0;
  height:0;
  position:absolute;
  left:2px;
  top:-14px;
  border-top:14px solid transparent;
  border-right:18px solid #2F3280;
  border-bottom:14px solid transparent;
}
.ans-triangle-right{
  width:0;
  height:0;
  display:inline-block;
  border-top:15px solid transparent;
  border-left:20px solid yellow;
  border-bottom:15px solid transparent;
  position:relative;
  float:right;
  display:inline-block;
}
.ans-trianle-right-empty{
  width:0;
  height:0;
  position:absolute;
  right:2px;
  top:-14px;
  border-top:14px solid transparent;
  border-left:18px solid #2F3280;
  border-bottom:14px solid transparent;
}
.qline-left{
  width:58px;
  display:inline-block;
  height:4px;
  background:yellow;
  position:relative;
  bottom:8px;
  right:-6px;
  border:none;
  
}
.qline-right{
  width:58px;
  display:inline-block;
  height:4px;
  background:yellow;
  position:relative;
  bottom:8px;
  right:2px;
  border:none
  
}

.aline-left{
  width:58px;
  display:inline-block;
  height:2px;
  background:yellow;
  position:relative;
  bottom:0px;
  top:7px;
  right:-6px;
  border:none;
  
}
.aline-right{
  width:54px;
  display:inline-block;
  height:2px;
  background:yellow;
  position:relative;
  bottom:0px;
  top:7px;
  right:1px;
  border:none;
  
}
.right-answer-c{
background:#0FCD2C;

}
.right-answer-b{
border-right-color:#0FCD2C;
border-left-color:#0FCD2C;
}
.wrong-answer-c{
  background:#F12514;
}
.wrong-answer-b{
  border-right-color:#F12514;
border-left-color:#F12514;
}

