body
{
	background:radial-gradient(#6F73D3,#1A1C52);
}

#que-number {
    background:radial-gradient(white,grey);
    backface-visibility:hidden;
    border-radius:50px;
	border-width:5px;
	border-style:solid;
	border-color:black;
}

#qn{
    
    text-align: right;
	margin-bottom:5px; 
}

#mar {
    marquee-direction: forward;
    -webkit-marquee-direction: forwards;
    overflow-x: marquee-line;

}

#floating-text  {
    border-bottom-right-radius: 120px;
    border-bottom-left-radius: 120px;
   background-color: beige;
}

#question
{
	padding-top:0px;
}

#option1
{
	width:400px;
	margin-left:90px;
	border-radius:40px;
	border-style:dashed;
	border-width:2px;
	border-color:black;
}

#option2
{
	width:400px;
	border-radius:40px;
	margin-left:150px;
	border-style:dashed;
	border-width:2px;
	border-color:black;
}

#option3
{
	width:400px;
	margin-left:90px;
	border-radius:40px;
	border-style:dashed;
	border-width:2px;
	border-color:black;
}

#option4
{
	width:400px;
	margin-left:150px;
	border-radius:40px;
	border-style:dashed;
	border-width:2px;
	border-color:black;
}

#pass
{
	width:200px;
}

#submit
{
	width:200px;
}