#que-number {
    background:radial-gradient(white,grey);
    backface-visibility:hidden;
    border-radius:50px;
	border-width:5px;
	border-style:solid;
	border-color:black;
}

#qn{
    
    text-align: right;
	margin-bottom:5px; 
}

#mar {
    marquee-direction: forward;
    -webkit-marquee-direction: forwards;
    overflow-x: marquee-line;

}

#floating-text  {
    border-bottom-right-radius: 120px;
    border-bottom-left-radius: 120px;
   background-color: beige;
}

#question
{
	padding-top:0px;
}

#option
{
	width:400px;
	border-radius:40px;
}